* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans";
}

.container {
  max-width: 1200px;
  width: 92%; 
  margin: 0 auto; 
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}