// Color Cube
.white{
  color: #ffffff;
}
.tabacco_brown{
  color: #6a5243;
}
.cod_gray{
  color: #0e0e0d;
}
.manatee{
  color: #929295;
}
.atoll{
  color: #0a5e6c;
}
.chalky{
  color: #f0caa1;
}
.raw_sienna{
  color: #d68843;
}
.perfume{
  color: #bda2f3;
}
.daisy_bush{
  color: #5b2ca2;
}
.japanese_laurel{
  color: #287a00;
}

// Median cut
.outer_space{
  color: #282d2c;
}
.pearl_bush{
  color: #e9dedc;
}
.millbrook{
  color: #694a3a;
}
.leather{
  color: #9f7651;
}
.mamba{
  color: #878589;
}

// Material Design
.driftwood{
  color: #b77c49;
}
.sandrift_muted{
  color: #b2927b;
}
.atoll_darkvibrant{
  color: #086875;
}
.limed_spruce_darkmuted{
  color: #344747;
}
.tan_lightvibrant{
  color: #d6b28d;
}